/*
table {
  border-collapse: collapse;
}

th, td {
  padding: 0.5em;
}

.table {
  margin: 0 auto;
}

.rounds th, .rounds td {
  border: 1px solid #aaa;
}

.cards {
  margin: 1em;
}

.card {
  width: 150px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  margin-right: 1em;
}
*/
